   .appcomponent-container{
     color:#fff;
   }
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
      /* border:0.5px solid ; */
    }
    
    .split h1{
        padding-left: 25px
    }
    .left {
      left: 0;
      background-color: #111;
      width: 30%;
    }
    
    .right {
      right: 0;
      background-color: #1f364d; 
      width: 70%;
    }
    
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .centered img {
      width: 150px;
      border-radius: 50%;
    }